


<div class="footer footer--no-margin">
    
    <div class="footer__social-proof"><div class="inner-block footer__inner">

        <div class="footer__col-1">
            <div class="footer__head">&nbsp;</div>
            <div class="footer__picture">
                <img class="footer__picture-img"
                     src="/assets/images/jur.jpeg"
                     alt="Jur Bruijns"
                     data-pin-no-hover="true"
                     nopin="nopin">
            </div>
        </div>
        <div class="footer__col-2">

            <div class="footer__head">Over Bijzonder Plekje</div>

            <div class="footer__p">
                Bijzondere hotels en overnachtingen, sfeervolle vakantiewoningen en bed & breakfast adressen; op Bijzonder Plekje vind je de leukste tips en verrassende adressen voor levensgenieters! De meest bijzondere (vakantie-)adressen in Europa, geselecteerd op persoonlijke beleving. Van theetuin tot kleinschalige design lodge; stuk voor stuk uniek en origineel, maar vooral ‘fijn-om-te-zijn’!
            </div>

            <div class="footer__p">
                Bijzonder Plekje is altijd op zoek naar nieuwe plekjes. Heb je een leuke tip voor een bijzonder adres of ben je in het bezit van een bijzonder plekje? Stuur een bericht aan Marleen Brekelmans (<a class="footer__p-link" href="mailto:marleen@bijzonderplekje.nl">marleen@bijzonderplekje.nl</a>) voor meer informatie.
            </div>

            <div class="footer__p">
                Ik hoor graag van je!
            </div>

            <div class="footer__p--name">
                <a class="footer__p-link"
                   href="https://plus.google.com/u/0/102918358099768257306?rel=author"
                   target="_blank" rel="noopener">Jur</a>
            </div>
        </div>
        <div class="footer__col-3">
            <div class="footer__head">Facebook</div>
            <div class="fb-like-box" data-href="https://www.facebook.com/bijzonderplekje" data-width="310" data-height="180" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
        </div>
    </div></div>
    <div class="footer__newsletter"><div class="inner-block footer__inner">
        <div id="nieuwsbrief_bedankt_hide">
            <!--Schrijf je in voor de digitale nieuwsbrief van Bijzonder Plekje en blijf op de hoogte van het laatste nieuws over bijzondere overnachtingen, speciale plekjes en de laatste ontdekkingen.-->
        </div>

        <div class="footer__newsletter-thanks"
             id="nieuwsbrief_bedankt"
             style="display:none;">
            <p>
                Dank je wel voor je aanmelding. Leuk dat je op de hoogte wilt blijven van het laatste nieuws van Bijzonder Plekje.
            </p>
            <p>
                Wist je dat Bijzonder Plekje ook een <a href="http://www.facebook.com/bijzonderplekje" target="_blank" rel="noopener">Facebookpagina</a> heeft en ook te volgen is via <a href="http://www.twitter.com/bijzonderplekje" target="_blank" rel="noopener">Twitter</a>?
            </p>
        </div>
        <form action="https://rockyard.createsend.com/t/r/s/zqyuk/"
              method="post" id="nieuwsbrief">
            <div class="footer__newsletter-head">
                Maandelijks tips <br>
                ontvangen?
            </div>
            <div class="footer__newsletter-field">
                <input class="footer__newsletter-input"
                       type="text"
                       name="cm-zqyuk-zqyuk"
                       id="cm-zqyuk-zqyuk"
                       placeholder="Je e-mailadres"><br>

                <label for="listtjoyhy" class="footer__newsletter-label">
                    <input id="listtjoyhy" name="cm-ol-tjoyhy" type="checkbox">
                    Ontvang ook een wekelijkse blog-update</label>
            </div>
            <div class="footer__newsletter-button submit-container">
                <input type="submit" value="  Inschrijven  " class="button gtm-newsletter-signup">
            </div>
        </form>
    </div></div>
    
    <div class="footer__links"><div class="inner-block footer__inner">
        <div class="footer__links-col-1">
            <a class="footer__links-logo" href="../index.html"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
<img src="/assets/images/logo-w.png" width="157px">
</a>
        </div>
        <div class="footer__links-col-2">
            <a class="footer__links-link" href="../op-locatie.html">Op locatie</a>
            <a class="footer__links-link" href="../marleen-brekelmans.html">Over mij</a>
        </div>
        <div class="footer__links-col-3">








            <a href="https://www.facebook.com/bijzonderplekje/" class="footer__links-social-icon js-no-pjax" target="_blank" rel="noopener">
                <i class="icon-facebook-square" aria-hidden="true"></i>

            </a>
            <a href="https://www.twitter.com/bijzonderplekje/" class="footer__links-social-icon js-no-pjax" target="_blank" rel="noopener">
                <i class="icon-twitter-square" aria-hidden="true"></i>

            </a>
            <a href="https://www.instagram.com/bijzonderplekje/" class="footer__links-social-icon js-no-pjax" target="_blank" rel="noopener">
                <i class="icon-instagram" aria-hidden="true"></i>
            </a>
            <a href="https://nl.pinterest.com/bijzonderplekje/" class="footer__links-social-icon js-no-pjax" target="_blank" rel="noopener">
                <i class="icon-pinterest-square" aria-hidden="true"></i>

            </a>
            <a href="https://www.youtube.com/c/bijzonderplekjenl1" class="footer__links-social-icon js-no-pjax" target="_blank" rel="noopener">
                <i class="icon-youtube" aria-hidden="true"></i>
            </a>
        </div>
    </div></div>
</div>

</div>
</div>
<noscript id="deferred-styles">
    <link rel="stylesheet" type="text/css" href="../assets/styles/defer-v=4.css"/>
</noscript>
<script>
    var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
        webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);
</script>
<script>
    // Prevent Roboto from loading
    var head = document.getElementsByTagName('head')[0];
    var insertBefore = head.insertBefore;
    head.insertBefore = function (newElement, referenceElement) {
        if (newElement.href && newElement.href.indexOf('https://fonts.googleapis.com/css?family=Roboto') === 0) {return;}
        insertBefore.call(head, newElement, referenceElement);
    };
</script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvuDHrkx1bFUTIrt-j7xcnr2VxgDh3ES8"></script>
<script defer src="../assets/scripts/vendor-v=36f6919.js"></script>
<script defer src="../assets/scripts/app-v=36f6919.js"></script>
<script defer src="../assets/scripts/bundle.build-v=16.js"></script>
<script async defer data-pin-hover="true" src="https://assets.pinterest.com/js/pinit.js"></script>
</body>
</html>